# Contributed Plugins

These are fully supported plugins but require additional dependencies: 

`$ pip install '.[contrib]'`

what about this, or this. or what


{%  for plugin in plugins %}
{{ plugin }}
{% endfor %}


